@charset "utf-8";

/* 
font-family: 'Arimo', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
 */

* {
   margin: 0;
   padding: 0;
}
body{
   background-color: black;
   height: 2000px;
}
*{
   scroll-behavior: smooth;
}
/* MENU */
ul li {
   list-style: none;
   display: space-between;
   text-decoration: none;
}

.navbar {
   display: flex;
   text-align: center;
   justify-content: center;
   background-color: black;
}

.navbar li {
   margin-left: 3rem;

   margin-top: 3rem;
   text-decoration: none;
}

.navbar li a {
   color: white;
   font-family: 'Ubuntu', sans-serif;
   text-decoration: none;
}

.navbar li a:hover {
   color: red;
}

.toggle-button{
   position: absolute;
   top: 3rem;
   left: 3rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 31px;
   height: 21px;
}

.toggle-button .bar{
   height: 4px;
   width: 100%;
   background-color: white;
   border-radius: 10px;
}

.toggle-button .bar-middle{
   height: 4px;
   width: 70%;
   background-color: white;
   border-radius: 10px;
}
.toggle-button .bar-last{
   height: 4px;
   width: 100%;
   background-color: white;
   border-radius: 10px;
}




@media (max-width: 700px){
   .toggle-button{
       display: flex;
       margin-top: 5px;
   }
   .navbar{
       display: none;
       width: 100%;
       flex-direction: column;
       align-items: flex-start;
   }
   ul{
       flex-direction: column;
       width: 100%;
   }
   ul
   .navbar li{
       text-align: center;

   }
   .navbar.active{
       display: flex;
       margin-top: 50px;
   }
   body{
      background-color: black;
   }
   p{
      max-width:100%;
   }
}



/* IMAGES */
.profile{
   border-radius: 100px;
   margin-top: 5rem;
}


/* TEXTS */
h1, p{
   color: white;
   font-family: 'Nunito Sans', sans-serif;
   text-align: center;
}
p{
   margin-top:.80rem;
   max-width: 50%;
   margin-bottom: 2rem;
}

/* BUTTONS */
.button-1{
   text-decoration: none;
   color: white;
   background-color: red;
   padding: 15px;
   font-size: 20px;
   font-family: 'Nunito Sans', sans-serif;
   border-radius: 50px;
}

.button-1 {
   background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
}
.button-1 {
   width: 220px;
   height: 50px;
   border: none;
   outline: none;
   color: #ffffff;
   background: #2f2f2f;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 50px;
}

.button-1:before {
   content: '';
   background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
   position: absolute;
   top: -2px;
   left:-2px;
   background-size: 400%;
   z-index: -1;
   filter: blur(5px);
   width: calc(100% + 4px);
   height: calc(100% + 4px);
   animation: glowing 20s linear infinite;
   opacity: 0;
   transition: opacity .3s ease-in-out;
   border-radius: 50px;
}

.button-1:active {
   color: #000
}

.button-1:active:after {
   background: transparent;
}

.button-1:hover:before {
   opacity: 1;
}

.button-1:after {
   z-index: -1;
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: #111;
   left: 0;
   top: 0;
   border-radius: 50px;
}

@keyframes glowing {
   0% { background-position: 0 0; }
   50% { background-position: 400% 0; }
   100% { background-position: 0 0; }
   
}

.material-icons{
   color: white;
   font-size: 50px !important;
   margin-top: 3rem;
}
